alembic
anyio
argon2-cffi
argon2-cffi-bindings
async-generator==1.10
attrs
Babel
backcall
backports.fuctools-lru-cache
beautifulsoup4
bleach
blinker
brotlipy
certifi==2022.12.7
certipy==0.1.3
cffi
charset-normalizer
cryptography
debugpy
decorator
defusedxml
entrypoints
fastjsonschema
flit_core
greenlet
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets
jedi
Jinjas2
json5
jsonchema
jupyter-offlinenotebook
jupyter-resource-usage
jupyter-server
jupyter-telemetry 
jupyter_client
jupyter_core 
jupyterhub 
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
Mako
MarkupSafe
matplotlib-inline
mistune 
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
nteract-on-jupyter==2.1.3
oauthlib
packaging 
pamela==1.0.0
pandocfilters
parso
pexpect 
pickleshare
pkgutil_resolve_name
prometheus-client
prompt-toolkit
psutil 
ptyprocess
pycparser
pycurl==7.45.1
Pygments
PyJWT
pyOpenSSL
pyrsistent
PySocks
python-dateutil
python-json-logger
pytz
pyzmq
requests
ruamel.yaml
ruamel.yaml.clib
Send2Trash
six
sniffio
soupsieve
SQLAlchemy
terminado
tinycss2
tomli
tornado
traitlets
typing_extensions
urllib3
wcwidth
webencodings==0.5.1
websocket-client
widgetsnbextension
zipp
appmode








